@media ( max-width: 280px ){
    nav h3 {
        font-size: 1.5rem;
    }
    .hero-img {
        height: 16rem!important;
        width: 16rem!important;
    }
    .hero-text img {
        right: 8rem!important;
        top: 15rem!important;
        height: 4rem;
        width: 4rem;
    }
    .hero-text h1{
        margin: 1rem 0 4rem;
    }
    .contact-info a{
        word-wrap: break-word;
        max-width: 160px;
    }
    .container {
        padding: 0 1.5rem;
    }
}
@media ( max-width: 900px ){
    /* 0 */
    .head-nav2{
        padding: 20px 10px!important;
    }
    .head-nav2 ul{
        display: none!important;
    }
    /* 1 */
    .hero{
        height: auto;
        padding: 4rem 0;
    }
    .content{
        flex-direction: column!important;
        height: auto;
        text-align: center;
        gap: 2rem;
    }
    .hero-main {
        flex-direction: column-reverse!important;
        height: auto;
        gap: 2rem;
        text-align: center;
    }
    .hero-img {
        height: 26rem;
        width: 26rem;
    }
    .hero-text h1 {
        font-size: 4rem;
    }
    .hero-text img {
        right: 3rem;
        top: 7rem;
        height: 4rem;
        width: 4rem;
    }
    .hero-text p {
        margin-bottom: 5rem;
    }
    .hero-text span {
        gap: 1.6rem;
        justify-content: center;
          margin-bottom: 4rem;
        margin-top: -2rem;
    }
    .hero-skills {
        flex-direction: column;
        position: static;
    }
    .hero-skills p {
        border-bottom: 2px solid rgba(45,46,50,.5);
        border-right: none;
        margin-bottom: 3rem;
        margin-right: 0;
        padding-bottom: 1rem;
        padding-right: 0;
    }
    /* 2 */
    .about{
        padding-bottom: 8rem;
    }
    .about-content {
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 5rem;
    }
    .img-work {
        height: 22rem;
        width: 88%;
    }
    .text-side {
        padding-right: 0;
    }
    .text-side h4{
        font-size: 2.191rem;
    }
    /* 3 */
    .projects{
        padding: 8rem 0!important;
    }
    .projects-grid .pro {
        width: 100%;
        flex-direction: column!important;
        height: 75rem;
        gap: 3rem;
    }
    .pro_img{
        width: 100%!important;
    }
    .pro_text{
        width: 100%!important;
    }
}
@media ( max-width: 600px ){
        /* 4 */
        .contact-content, .contact-icons{
            text-align: center!important;
            justify-content: center!important;
        }
        .contact-icon-box {
            flex-direction: column!important;
        }
        .footerc {
            flex-direction: column;
            text-align: center;
        }
        .footerc h3{
            white-space: nowrap;
            font-size: 1.3rem;
        }
        .container {
            padding: 0 2rem;
        }
}
@media ( max-width: 700px ){
    .work-emoji, .img-side span{
        display: none;
    }
}
@media ( max-width: 754px ){
    .project-content{
        text-align: center;
    }
}

@media ( 400px <= width <= 500px ){
    .head-nav2{
        padding: 20px 20px!important;
    }
    .container {
        padding: 0 1.5rem;
    }
}
@media ( 500px <= width <= 600px ){
    .head-nav2{
        padding: 20px 30px!important;
    }
    .img-work {
        height: 30rem;
        width: 78%;
    }
}
@media ( 600px <= width <= 700px ){
    .img-work {
        height: 33rem;
        width: 82%;
    }
    .img-work {
        height: 30rem;
        width: 70%;
    }
    .container {
        padding: 0 2.5rem;
    }
}
@media ( 700px <= width <= 800px ){
    .img-side{
        position: relative;
    }
    .projects-grid {
        padding: 0 2rem!important;
    }
    .text-side {
        margin: 0 auto!important;
        max-width: 57rem!important;
    }
    .img-side span{
        background-color: #eaeaea;
        border-radius: 50%;
        position: absolute;
        top: 20rem;
        height: 19rem;
        right: 33px;
        width: 19rem;
    }
    @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    .img-side span img{
        display: inline-block;
        -webkit-animation: rotate 8s linear infinite;
        animation: rotate 8s linear infinite;
        width: 19rem;
    }
    .work-emoji{
        bottom: 35px;
        position: absolute;
        right: 98px;
        width: 6rem;
        z-index: 10;
    }
    .work-emoji:hover{
        transform: scale(1.1);
        cursor: pointer;
        transition: 1s all;
    }
    .img-work{
        border-radius: 1.7rem;
        height: 35rem;
        width: 40rem;
    }
    .container {
        padding: 0 1.5rem;
    }
}
@media ( 800px <= width <= 850px ){
    .projects-grid {
        padding: 0 0.5rem!important;
    }
    .text-side {
        margin: 0 auto!important;
        max-width: 57rem!important;
    }
    .img-work{
        height: 35rem;
        width: 40rem;
    }
}
@media ( 850px <= width <= 900px ){
    .projects-grid {
        padding: 0 0.5rem!important;
    }
    .text-side {
        margin: 0 auto!important;
        max-width: 60rem!important;
    }
    .img-work{
        height: 35rem;
        width: 40rem;
    }
}
@media ( 901px <= width <= 1019px ){
    .projects-grid {
        padding: 0 0.5rem!important;
    }
    .text-side {
        margin: 0 auto!important;
        max-width: 57rem!important;
    }
    .head-nav2 span{
        display: none;
    }
    .content {
        height: 53rem;
    }
    /* 2 */
    .about{
        padding-bottom: 8rem;
    }
    .about-content {
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 5rem;
    }
    .img-work {
        height: 34rem;
        width: 50%;
    }
    .text-side {
        padding-right: 0;
    }
    .text-side h4{
        font-size: 2.191rem;
    }
    /* 3 */
    .projects{
        padding: 8rem 0!important;
    }
    .projects-grid .pro {
        width: 100%;
        flex-direction: column!important;
        height: 75rem;
        gap: 3rem;
    }
    .pro_img{
        width: 100%!important;
    }
    .pro_text{
        width: 100%!important;
    }
    .work-emoji {
        bottom: 25px;
        right: 234px!important;
    }
    .img-side span {
        bottom: -3px;
        height: 17rem;
        right: 180px!important;
        width: 17rem;
    }
}
@media ( max-width:1020px ){
    .work-emoji {
        bottom: 25px;
        right: 115px;
    }
    .img-side span {
        bottom: -3px;
        height: 17rem;
        right: 60px;
        width: 17rem;
    }
    .img-side span img {
        width: 17rem;
    }
    .text-side {
        margin: 0 auto;
        max-width: 54rem;
    }
    .hero {
        padding-bottom: 8rem;
    }
}
@media ( min-width:900px ){
    .hero {
        height: auto;
        padding-bottom: 8rem;
    }
    .head-nav2 span{
        display: none;
    }
}